.parent {
  display: grid;
  grid-template-columns: 1fr;
  float: left;
}

.parent div {
  padding: 10px;
  grid-row-start: 1;
  grid-column-start: 1;
}

body {
  margin: 25px 50px 25px 50px;
  font-family: helvetica;
}
p.description {
  color: grey;
}

.container {
  display: inline-block;
}

.label {
  font-size: small;
}

#axis-svg {
  z-index: 1;
}

#plot-density {
  z-index: 2;
}

#plot-dose {
  z-index: 3;
}

#plot-marker,
#legend-svg,
.plotting-area {
  z-index: 4;
}

#voxel-info {
  border: 1px solid black;
  padding: 0px 16px 16px 16px;
  font-size: 12px;
}

.voxel-info-output {
  color: grey;
}

.crosshair {
  fill: none;
  stroke-width: 1px;
  stroke: rgba(115, 255, 0, 0.7);
  vector-effect: non-scaling-stroke;
}

.lines {
  vector-effect: non-scaling-stroke;
}

div.legend-holder {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

span#legendholder {
  float: left;
}

.profile-x-axis,
.profile-y-dose-axis,
.profile-y-density-axis {
  color: grey;
}

progress.hidden,
.contour-path.hidden {
  opacity: 0;
}

.cell.hidden,
svg.hidden,
span.hidden {
  opacity: 0.2 !important;
}

.x-axis-grid,
.y-axis-grid {
  color: grey;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
}

#drop-area.highlight {
  border-color: blue;
}

progress {
  width: 300px;
}
