.parent {
  display: grid;
  grid-template-columns: 1fr;
  float: left;
}

.parent div {
  grid-row-start: 1;
  grid-column-start: 1;
}

body {
  margin: 25px 50px 25px 50px;
  font-family: helvetica;
}

#dose-viewer-container {
  width: 100%;
}

p.description {
  color: grey;
}

span.dose-profile-holder {
  display: inline-grid;
  vertical-align: bottom;
}

.container {
  display: inline-block;
}

.label {
  font-size: small;
}

svg.axis-svg {
  overflow: visible;
}

#plot-marker,
#legend-svg,
.plotting-area {
  z-index: 4;
}

#voxel-info {
  border: 1px solid black;
  padding: 0px 16px 16px 16px;
  font-size: 12px;
}

.voxel-info-output {
  color: grey;
}

.crosshair {
  fill: none;
  stroke-width: 1px;
  stroke: rgba(255, 32, 32, 0.3);
  vector-effect: non-scaling-stroke;
}

.lines {
  vector-effect: non-scaling-stroke;
}

.active {
  stroke: rgba(255, 32, 32, 0.7);
}

.legend-holder {
  vertical-align: top;
  display: inline-flex;
  overflow-y: auto;
  overflow-x: hidden;
}

.legend {
  display: block;
}

div.volume-holder {
  border: 2px solid #ccc;
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.profile-x-axis,
.profile-y-dose-axis,
.profile-y-density-axis {
  color: grey;
}

progress.hidden,
.contour-path.hidden {
  opacity: 0;
}

.cell.hidden,
span.hidden {
  opacity: 0.2 !important;
}

.x-axis-grid,
.y-axis-grid {
  color: grey;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
}

#drop-area.highlight {
  border-color: blue;
}

progress {
  width: 300px;
}

text.dose-profile-axis-label {
  font-size: 12px;
  color: grey;
}
