body {
  margin: 25px 50px 25px 50px;
}
p {
  font-family: helvetica;
  color: grey;
}
h1,
input,
output,
label,
text,
button {
  font-family: helvetica;
}

.label {
  font-size: small;
}

.plot {
  position: absolute;
}

#axis-svg {
  z-index: 1;
}

#plot-canvas {
  z-index: 2;
}

#plot-svg {
  z-index: 3;
}

#legend-svg {
  z-index: 4;
}
